body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('assets/Green-Wallpapers-HD-background.png');
    background-size: cover;
}
h1 {
    color: #ffffff;
}
#text-area {
    width: 40%;
    height: 150px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 40px;
}
#char-count {
    color: #ffffff;
    font-size: xx-large  ;
}